/* --- General HTML Elements -- */
html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration:none; /* No underscores */
  color: #304ffe; /* Migrate to only apps section */
}

/* --- Nav Bar --- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #4CAF50;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #111;
}

/* Header CSS Formating  */
header {
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.2),#000), url("img/background.jpeg");
  background-position: center;
  height: 100vh;          
}

.main-title {
  margin: 0;
  text-align: center;
  font-size: 50;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}
.sub-title {
  margin: 0;
  text-align: center;
  color: white;
  position: absolute;
  top: 56%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* --- App Section --- */
#apps {
  background-size: cover;
  background-image: url("img/dark-paths.png");
  background-position: center;     
}
.col-container {
  display: flex;
  width: 100%;
  color: #81d4fa;
  text-decoration: none;
}
.col {
  flex: 1;
  padding: 16px;
  align-content: center;
}

/* --- Blog Section --- */
#blog {
  background-size: cover;
  background-image: url("img/blog.jpeg");
  background-position: center;     
}

.main-format {
  /* Add stuff here */
}

.flex-container {
  display: flex;
  justify-content: column;
  align-items: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 1000px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}