@import url('https://fonts.googleapis.com/css?family=Lato');

@import "compass/css3";
@import "variables";

html {
	font-family: 'Lato', serif !important;
}

#landing-page {
	  background: url(../img/bg_OG.jpeg) no-repeat center center fixed;
	  background-image: linear-gradient(rgba(0,0,0,0.15),#000), url(../img/bg_OG.jpeg);
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 100vh;

	  .landing-container * {
		color: white;
	  }

	  .position {
		  padding-left: 40px;
	  }

	  .full_name {
		overflow: hidden; /* Ensures the content is not revealed until the animation */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		animation: 
		  typing 3.5s steps(50, end),
		  /*blink-caret .75s step-end infinite;*/
	  }
	  
	  /* The typing effect */
	@keyframes typing {
		from { width: 0 }
		to { width: 100% }
  	}
}

#blog {
	.box {
	  margin-bottom: 15px
	}
	.box-shadow {
	   -webkit-box-shadow: 0px 8px 19px 0px rgba(133,133,133,1);
	   -moz-box-shadow: 0px 8px 19px 0px rgba(133,133,133,1);
	   box-shadow: 0px 8px 19px 0px rgba(133,133,133,1);
	}
	.box-links {
	  text-decoration: none;
	  color: white;
	}
	.background-image {
	   background: var(--url) no-repeat center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  min-height: 200px;
	  -webkit-border-top-left-radius: 5px;
	  -webkit-border-top-right-radius: 5px;
	  -moz-border-radius-topleft: 5px;
	  -moz-border-radius-topright: 5px;
	  border-top-left-radius: 5px;
	  border-top-right-radius: 5px;
	}
	.blog-title {
		text-decoration: none;
		color: white;
		text-align: center;
		font-size: 24px;
		padding-top: 50px;
	}
}

@import "projects";
