/* Main Elements */
$main-color: #81d4fa;

/* Nav Section */
$nav-color: #333;
$nav-active-color: #4CAF50;
$nav-hover-color: #111;

/* Header Section */
$header-grad: linear-gradient(rgba(0,0,0,0.2),#000);
$header-location: url("../img/background.jpeg");

/* About Section */
$about-location: url("../img/darkness.png");

/* App Section */
$app-background-location: url("../img/dark-paths.png");
$app-link-color: #304ffe;
