/* Main Elements */
/* Nav Section */
/* Header Section */
/* About Section */
/* App Section */
/* --- General HTML Elements -- */
/* line 5, ../sass/main.scss */
html {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

/* line 10, ../sass/main.scss */
div, p {
  color: #81d4fa;
}

/* line 14, ../sass/main.scss */
a {
  text-decoration: none;
  /* No underscores */
}

/* --- Nav Bar --- */
/* line 19, ../sass/main.scss */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 26, ../sass/main.scss */
.sticky ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* line 34, ../sass/main.scss */
nav ul li {
  float: left;
}

/* line 38, ../sass/main.scss */
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 46, ../sass/main.scss */
.active {
  background-color: #4CAF50;
}

/* Change the link color to #111 (black) on hover */
/* line 51, ../sass/main.scss */
nav ul li a:hover {
  background-color: #111;
}

/* Header CSS Formating  */
/* line 56, ../sass/main.scss */
header {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), #000000), url("../img/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* line 65, ../sass/main.scss */
.main-title {
  margin: 0;
  text-align: center;
  font-size: 50;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* line 76, ../sass/main.scss */
.sub-title {
  margin: 0;
  text-align: center;
  color: white;
  position: absolute;
  top: 56%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* --- App Section --- */
/* line 88, ../sass/main.scss */
#apps {
  background-size: cover;
  background-image: url("../img/dark-paths.png");
  background-position: center;
}

/* line 93, ../sass/main.scss */
.col-container {
  display: flex;
  width: 100%;
  color: #81d4fa;
  text-decoration: none;
}

/* line 99, ../sass/main.scss */
.col {
  flex: 1;
  padding: 16px;
  align-content: center;
}

/* line 105, ../sass/main.scss */
a[title='app-link'] {
  color: #304ffe;
}

/* ---- About Section --- */
/* line 111, ../sass/main.scss */
#about {
  background-size: cover;
  background-image: url("../img/darkness.png");
  background-position: center;
  margin: 0;
  height: 100%;
}

/* line 119, ../sass/main.scss */
.about-flex-container {
  display: flex;
  justify-content: column;
  float: left;
}

/* line 125, ../sass/main.scss */
.about-flex-container > div {
  width: 550px;
  margin: 10px;
  line-height: 20px;
  font-size: 12px;
}
