/* ---- About Section --- */

#about {
  background-size: cover;
  background-image: $about-location;
  background-position: center;
  margin: 0;
  height: 100%;
}

.about-flex-container {
  display: flex;
  justify-content: column;
  float: left;
}

.about-flex-container > div {
  width: 50%;
  margin: 10px;
  line-height: 20px;
  font-size: 12px;
}

.about-flex-lower {
  display: flex;
  justify-content: column;
  float: left;
}

.about-flex-lower > div {
  width: 630px; /* Change this later for responsive design */
  margin: 10px;
  line-height: 20px;
  font-size: 12px;
}

.resource-tab {
  width: 24%;
  -webkit-box-shadow: 10px 21px 64px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 21px 64px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 21px 64px 0px rgba(0,0,0,0.75);
}


.bottom-flex-box {
  display: flex;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 100%;
  height: 50px;
  margin-top: 10px;

  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
